.bar{
    width: 500px;
    background-color: black;
    margin-left: -12vh;
    border: 2px solid #2a2727;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */

}
a{
    color: aliceblue;
    position: relative;
    top: -8px;
    left: 11px;
}

.main .bar .polo img{
 height: 24;
 width: 24;
}

.polo li{
 
    margin: 15px;
    padding: 3px;
    margin-left: 26vh;
}
.polo{
    background-color: #000000;
    height: 55px;
}

.Post{
    background-color: white;
    color: black;
    height: 34px;
    width: 208px;
    border-radius: 23px;
    text-align: center;
    margin: 10px;
    padding: 8px;
    margin-left: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;

}
.pro{    height: 49px;
    width: 49px;
    border-radius: 40px;
}


     .one,.two{
     position: relative;
    left: 13vh;
    color: white;
    top: -6vh;
    margin-top: 4px;
     }

 .two{
    opacity: 10px;
    color: #897b7b;
 }
 

  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
     
    background-color: black;
    flex-direction: column;
    color: white;

  }

   
.polo li:hover{ 
  background-color: #242427;
    width: 18vh;
    border-radius: 25px;
    transition: 1sec;
}





.main{
    display: flex;
    
}
.sectwo{
    width: 590px;
    display: flex;
    justify-content: center;
    background-color: #242427;
    border: 1.8px solid #27272a ;
    margin-left: -13vh;
    margin-top: 46px;
}

.d1:hover{
    background-color: #2e2e2e;
    border: 1px solid  #2e2e2e;
}


.d2:hover{
    background-color: #2e2e2e;
    border: 1px solid  #2e2e2e;
}


.d1,.d2{
    height: 63px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 295px;
    /* border: 2px solid bisque; */
    padding-bottom: 4px;
}


.happy{
    width: 593px;
    
    background-color: rgb(40, 40, 40);
    margin-left: -13vh;
   
}

.happy .golf{
  
    background-color: #897b7b;
    height: 592px;
}

.golf .k1{
    height: 70px;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
}
 .Every{
    height: 3px;
    display: flex;
    justify-content: flex-start;
    background-color: #1e1e1e;
    color: #4d4deb;
    padding-left: 82px;
    margin-top: -13px;
}
    
 
 .Cap{
    color: white;
    height: 25px;
    background-color: black;
    padding-left: 71px;
    margin-top: -4px;
 }



.k1 .K1{
    color: #767676;
   position: relative;
   left: 10px;
   font-size: 21px;
   font-weight: bold;
}
.k2{
    height: 50px;
    background-color: black;
    padding-top: 12px;
}
 .aa{
  display: flex;
  margin-left: 40px;
   
}
.aa .nila{
    padding: 5px;
    /* padding-left: 14px; */


}
 .bb .host{
    color: black;
    height: 30px;
    width: 69px;
    border-radius:25px;
    background-color: white;

 }

 .k2{
    display: flex;
    justify-content: space-between;
    margin-top: -1px;
 }

.page{
    height: 30px;
    background-color: black;
    display: flex;
    padding-left: 15px;


    
}
.pad{padding-left: 1vh;
    position: relative;
   left:22vh
}
.don{
    border-radius: 34px;
}
.cr7{
    padding-left: 7px;
    color: white;
    font-size: large;
}
.c2{
    padding-left: 4px;

}
.c3{
    padding-left: 2px;
}
.saheb{
    height: 516.8;
    width: 516.5;
    border-radius: 28px;
    margin-left: 6vh;
    border: 2px solid rgb(33, 33, 33);
}
.wall{
    
    background-color: black;
    padding-bottom: 41px;
}
.wall{
    padding-top: 10px;
}

.like{
    height: 16px;
    background-color:black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.like .view{
    color: rgb(128, 128, 128);
}

.gt{
    
    margin: 10vh;
    margin-left: 33px;
    padding-top: 5vh;
}

.share{
    position: relative;
    left: -5vh;
    top: 14px;
}
 .best{
    z-index: 10;
    position: relative;
    border: 2px solid #494343;
    background-color:black;
    left: 106.4px;
    height: 829px;
    width: 515px;
}

 
.p1 {
        height: 47px;
        width: 350px;
        background-color: #000000;
        margin: 8px;
        margin-left: 44px;
        display: flex;
        align-items: center;
        justify-content: start;
        border: 2px solid #4b4b4b;
 border-radius: 39px;
    }

.p2{
    height: 163px;
    width: 350px;
    background-color: #000000;
    margin: 15px;
    margin-left: 45px;
    border: 2px solid #4b4b4b;
    border-radius: 27px;

}
.p3{
    height: 542px;
    width: 350px;
    background-color: #b5b5b5;
    margin: 18px;
    margin-left: 46px;
    padding-top: 1px;
    border: 2px solid #4b4b4b;
    border-radius: 27px;
    background-color: black;

}

.mast{
    background-color: black;
    color: grey;

}

.ser{
    margin-left: 12px;
}
.s1{
    margin: 15px;
    margin-left: 17px;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 21px;
    color: white;
}
.s2{
    margin: 1px;
    margin-left: 13px;
    padding-top: 1px;
    margin-left: 17px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}
.sub{
    margin: 15px;
    background-color: #2592fa;
    height: 41px;
    width: 119px;
    border-radius: 48px;
    color: white;
    font-weight: bolder;
    font-size: 16px
}
.m1{
    margin: 9px;
    margin-left: 17px;
    padding-top: 10px;
    height: 27px;
    width: 195px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 23px;
}
.fall{
    display: flex;
}
.f1{
    margin-left: 10px;
}
.jb{
    margin-left: 19px;  
    border-radius: 12px; 
}
.nv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 19px;
    margin-right: 11px;
}
.sal{
    font-size: 18px;
    margin-left: 17px;
    color: white;
}
.sharu{
    margin-left: 17px;
    color: #787575;
}
.baby{
    margin: 8px;
    margin-bottom: 30px;
}
.show{
    color: #2592fa;
    background-color: #000000;
    font-size: 18px;
    margin-left: 17px;
}

.no{
    margin: 5px;
    margin-left: 28vh;
}
.main{
    background-color: black;
}

  @media screen and (max-width:1300px) {
    .bar{
       flex-wrap: wrap;
    }
    .two{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .best{
    left: -0.6px;
    top: 131px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    }
    .p3{
        margin-top: 31vh;
        margin-left: -46vh;
    } */
   .main,.body{
        background-color: black;
    }
}


 .non{
    list-style-type: none;
}